@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, .mat-card {
  font-family: 'Raleway', sans-serif;
}

.mat-card {
  margin-top: 5px;
}

.example-card {
  width: 400px;
}

.example-header-image {
  background-size: cover;
}

button.mat-mini-fab {
  margin-right: 10px;
  font-size: 10px;
}

header {
  margin: 10px;
}

header p {
   padding: 10px;
   background-color: #16B7DF;
   color: white;
}

.card-text {
  text-align: justify;
}

ul li, .media, .media-heading, .card-text {
  font-family: 'Raleway', sans-serif;
}

ul.list-group {
  font-size: 16px;
}

ul.navbar-nav {
  left : 50%;
  position: relative;
  transform: translateX(-50%)
}

.headerDiv, .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}
.example-card {
    width: 400px;
  }
  
.example-header-image {
    background-size: cover;
}

.media {
    box-shadow: 5px 5px 5px #DBD9D9;
    padding-bottom: 10px
  }

.form-check-label {
    padding: 15px;
}

.read-more {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #128de4;
  font-size: 14px;
  padding: 0 5px 0 5px;
  color: white;
  text-decoration: none;
}

li.news-sources{
  cursor: pointer; 
}


  .banner {
    width: 100%;
    height: 300px;
    color: #fff;
    background: linear-gradient(-45deg, #10069C, #2DA807, #0694C4, #03943F);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    position: relative;
    border-bottom: 5px solid #012D3A;
  }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }

  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

.banner section {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.banner div, section {
  display: inline-block;
}

.banner #title {
  font-family: 'Cinzel', serif;
  font-size: 40px;
}

.banner #title_notes {
  font-family: 'Kaushan Script', cursive; 
  font-size: 24px;
}

.mat-menu-item {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

#title, #title_notes {
  display: block
}

.backBtn {
  padding: 10px;
  bottom: 0px;
  position: fixed;
  right: 10px;
  z-index: 1000;
}

.backBtn button {
  font-family: 'Cinzel', serif;
}

footer {
  position: relative;
  bottom: 0px;
  padding: 10px 0 10px 10px;
  font-family: 'Kaushan Script', cursive; 
}


  @media (max-width: 750px) {
    .banner #title {
      font-family: 'Cinzel', serif;
      font-size: 24px;
    }
    
    .banner #title_notes {
      font-family: 'Kaushan Script', cursive; 
      font-size: 18px;
    }

    .banner section {
      position: absolute;
      left: 5%;
    }

    .card-title {
      font-family: 'Raleway', sans-serif;
    }
  }
  
  #preloader img {
     top : 60%;
     left : 50%;
     transform: translate(-50%, -50%);
     position: absolute;
  }

  @media (max-width: 990px) {
    #worldmap {
      display : none;
    }
    .banner {
      height: 150px;
    }
    .form-check-label {
      padding: 15px;
      display: block;
      text-align: left;
    }
 }

 @media (min-width: 991) {
  a.navbar-brand {
    display: none;
  }
 }