<!--The content below is only a placeholder and can be replaced.-->
<div>
  
    <div class="backBtn">
        <button type="button" (click)="goHome()" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>
    
    <div class="card urlToimg" *ngFor="let article of articleObject">
      <!-- <img class="" src="{{article.urlToImage}}" alt=""> -->
      <div class="card-block">
        <h4 class="card-title">{{article.title}}</h4>
        <p class="card-text">{{article.description}}</p>
        <a href="{{article.url}}" class="read-more">Read more</a>
      </div>
    </div>
</div> 