<!--The content below is only a placeholder and can be replaced.-->
<div>
    <header>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>info</mat-icon>
              <span>Info</span>
            </button>
             
            <button *ngFor="let category of categories; let i = index" id={{i}} (click)="filterOption(category); saveCategory(category)" mat-menu-item>
                <mat-icon>sort</mat-icon>
                <span>{{category  | uppercase}}</span>
                <mat-icon *ngIf='genre == category'>check</mat-icon>
            </button>

          </mat-menu>
  </header>
      <div id="preloader" *ngIf="preloader"><img src="../../assets/loading_icon.gif" /></div>
      <div id="" *ngIf="errObject"><img src="../../assets/404.jpg" /></div>
      <mat-card (click)="onSelect(channel)" class="list-group-item news-sources" *ngFor="let channel of channelObject | filter: myfilterStr; let i = index">
              {{channel.name}} | {{channel.category}}
      </mat-card>
</div> 
