<!--The content below is only a placeholder and can be replaced.-->
<div>
    <header>
    <p>News API can provide live headlines from 70 sources. Click for more details.</p>
    <div class="container">
    
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" (click)="toggleFilter()" >
        <input type="checkbox" name="options" id="filter" autocomplete="off"> Filter
        </label>
    </div>
  
<!--
    <div class="filter-channels" *ngIf="status">
        <label class="custom-control custom-radio" *ngFor="let category of categories; let i = index">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description" (click)="filterObject(category)">{{category  | uppercase}}</span>
        </label>
-->

        
        
        <div class="form-check form-check-inline" *ngIf="status">
          <label class="form-check-label" *ngFor="let category of categories; let i = index">
            <input class="form-check-input" type="radio" name="myfilters" id={{i}} value={{category}} (click)="filterOption(category)"> {{category  | uppercase}}
          </label>
        </div>
<!--    </div>-->
     
    </div>
  </header>
    

      <ul class="list-group" >
        <li (click)="onSelect(channel)" class="list-group-item" *ngFor="let channel of channelObject | filter: myfilterStr">{{channel.name}} | {{channel.category}}</li>
      </ul>
</div> 